<template>
  <section>
    <h2 class="type-display">
      Contact
    </h2>

    <main>
      <form class="contact-form" @submit.prevent="onSubmit">
        <label class="contact-form__label type-meta" for="name">
          Name

          <input
            id="name"
            v-model="name"
            autocomplete="name"
            class="contact-form__input"
            name="name"
            type="text"
            required
          />
        </label>

        <label class="contact-form__label type-meta" for="mail">
          E-mail
          <input
            id="mail"
            v-model="email"
            autocomplete="email"
            class="contact-form__input"
            name="email"
            type="email"
            required
          />
        </label>

        <label
          class="contact-form__label contact-form__item--full type-meta"
          for="msg"
        >
          Message

          <textarea
            id="msg"
            v-model="message"
            class="contact-form__input"
            name="user_message"
            required
          />
        </label>

        <input
          type="submit"
          :disabled="isSubmitDisabled"
          class="contact-form__item--full"
          value="Send"
        />
      </form>
    </main>

    <aside>
      <p>
        If you're also into physical correspondence that is very much an option.
      </p>

      <div>
        <address>
          I. Welch Canavan<br />
          PO Box 3350<br />
          Washington, DC<br />
          20010-035
        </address>
      </div>
    </aside>
  </section>
</template>

<script>
const axios = require('axios')

export default {
  data() {
    return {
      name: '',
      email: '',
      message: ''
    }
  },

  computed: {
    isSubmitDisabled() {
      const { name, email, message } = this

      return !name || !email || !message
    }
  },

  methods: {
    onSubmit() {
      const { email, message, name } = this

      axios.post('/contact', {
        email,
        message,
        name
      })
    }
  },

  head() {
    return {
      title: 'Contact'
    }
  }
}
</script>
