@mixin type-display() {
  font-family: freight-display-pro, serif;
  font-style: italic;
  font-weight: 600;
  line-height: 1.35;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.type-display {
  @include type-display();
}

@mixin type-title() {
  font-family: freight-display-pro, serif;
  line-height: 1.25;
  margin: 0;
}

.type-title {
  @include type-title();
}

@mixin type-meta() {
  font-family: freight-sans-pro, sans-serif;
  font-size: 0.8em;
  font-variant-numeric: lining-nums;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.type-meta {
  @include type-meta();
}

@mixin stylized-link {
  background-image:
    linear-gradient($color-shade-0, $color-shade-0),
    linear-gradient($color-shade-0, $color-shade-0),
    linear-gradient($color-type, $color-type);
  background-position: 0 95%, 100% 95%, 0 95%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  text-shadow:
    0 -0.03em $color-shade-0,
    0.03em 0 $color-shade-0,
    0 0.03em $color-shade-0,
    0.06em 0 $color-shade-0,
    0.09em 0 $color-shade-0,
    0.12em 0 $color-shade-0,
    0.15em 0 $color-shade-0,
    -0.03em 0 $color-shade-0,
    -0.06em 0 $color-shade-0,
    -0.09em 0 $color-shade-0,
    -0.12em 0 $color-shade-0,
    -0.15em 0 $color-shade-0;
}
