<template>
  <main class="articles">
    <section>
      <h1>Colors</h1>

      <div class="colors">
        <ul class="swatches">
          <li class="swatches__swatch bg-primary-dark" />
          <li class="swatches__swatch bg-primary" />
          <li class="swatches__swatch bg-primary-light" />
          <li class="swatches__swatch bg-primary-xlight" />
        </ul>

        <ul class="swatches">
          <li class="swatches__swatch bg-secondary-dark" />
          <li class="swatches__swatch bg-secondary" />
          <li class="swatches__swatch bg-secondary-light" />
          <li class="swatches__swatch bg-secondary-xlight" />
        </ul>

        <ul class="swatches">
          <li class="swatches__swatch bg-shade-4" />
          <li class="swatches__swatch bg-shade-3" />
          <li class="swatches__swatch bg-shade-2" />
          <li class="swatches__swatch bg-shade-1" />
        </ul>
      </div>
    </section>
  </main>
</template>

<style>
.colors {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, 15vw);
}

.swatches {
  list-style-type: none;
  padding: 0;
}

.swatches__swatch {
  height: 15vw;
  width: 15vw;
}

.swatches__swatch:first-of-type {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.swatches__swatch:last-of-type {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
</style>
