<template>
  <article id="article" v-resize:throttle="onResize" class="article">
    <header class="article__header">
      <picture v-if="post.hero">
        <source :srcset="post.hero.webp_src" type="image/webp" />

        <source :srcset="post.hero.src" type="image/jpeg" />

        <img
          :src="post.hero.src"
          :alt="post.hero.caption"
          class="article__hero"
        />
      </picture>

      <h1 class="article__title type-display">
        {{ post.title }}
      </h1>

      <p class="color-shade-3 type-meta">
        Published
        <time :datetime="post.published_at">
          {{ post.relativeDate }}
        </time>
      </p>
    </header>

    <!-- adding the following exception to allow raw html from a JSON response -->
    <!-- eslint-disable-next-line vue/no-v-html -->
    <div id="content" class="content" v-html="post.body" />

    <footer class="footer">
      <svg
        class="footer__logo"
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        x="0"
        y="0"
        width="30.79"
        height="31.509"
        viewBox="0"
        enable-background="new 0 0 30.79 31.509"
        xml:space="preserve"
      >
        <path
          fill="#010101"
          d="M6.79 21.272c-0.73-0.521-1.272-0.166-2.02 0.117 -1.446 0.547-2.326 1.776-3.608 2.474C0.841 24.038 0.527 24.175 0 23.906c0.777-0.862 1.168-1.999 2.356-2.396 0.602-0.199 0.245-0.819 0.65-1.186 1.328-1.202 2.516-2.558 3.808-3.801 1.375-1.322 2.719-2.706 4.244-3.836 1.741-1.29 1.916-3.035 1.746-4.868 -0.189-2.023 0.008-4.071-0.468-6.079 -0.185-0.774 0.458-1.033 1.131-1.22 1.382-0.383 2.375 0.479 3.312 1.146 0.867 0.616 1.763 1.365 1.986 2.598 0.146 0.803 0.673 0.611 1.152 0.225 1.486-1.201 2.999-2.373 4.451-3.614 0.716-0.611 1.292-1.013 2.4-0.829 1.07 0.179 2.15-0.012 3.016 0.882 0.746 0.772 1.108 1.473 0.979 2.707 -0.16 1.521-0.983 2.291-1.986 3.117 -1.514 1.248-2.895 2.64-4.314 3.989 -0.885 0.842-1.862 1.603-2.817 2.364 -0.998 0.793-1.523 1.583-1.641 2.943 -0.137 1.576 0.133 3.159-0.192 4.712 -0.059 0.278-0.004 0.454 0.199 0.624 0.488 0.411 0.604 0.898 0.332 1.493 -0.115 0.251-0.189 0.571 0.064 0.783 1.304 1.084 0.923 2.326 0.424 3.631 -0.239 0.625-0.153 1.296 0.112 1.938 0.251 0.604-0.75 2.389-1.35 2.275 -0.825-0.154-1.491-0.721-1.847-1.539 -0.729-1.679-1.02-3.49-1.571-5.223 -0.479-1.506-0.932-3.021-1.407-4.527 -0.228-0.721-0.733-0.76-1.325-0.475 -1.331 0.642-2.477 1.688-4.1 1.687 -0.562-0.001-0.372 0.667-0.542 1.016 -0.244 0.498-0.739 0.915-1.461 0.803 -0.512-0.081-1.091-0.249-1.285-0.625C5.739 22.001 6.489 21.696 6.79 21.272z"
        />
      </svg>

      <div class="permalink">
        <label class="permalink__label type-meta" for="permalink">
          Copy permalink
        </label>

        <input
          id="permalink"
          class="permalink__input"
          :value="'https://' + post.shortlink"
          readonly
        />

        <button
          class="permalink__button btn"
          data-clipboard-target="#permalink"
        >
          <span class="visually-hidden">
            Copy
          </span>

          <svg
            class="permalink__icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 14 16"
          >
            <path
              d="M12 3V2H9a2 2 0 0 0-4 0H2v1H0v13h14V3zM3 3h3V2a1 1 0 0 1 2 0v1h3v2H3zm10 12H1V4h1v2h10V4h1z"
            />
            <path
              d="M8.8 10.62L6 11.67a.61.61 0 0 1-.78-.35.6.6 0 0 1 .35-.77l2.8-1.06a.6.6 0 0 1 .43 1.13z"
            />
            <path
              d="M7 11.92l-1.13.42a1.2 1.2 0 0 1-.85-2.25l1.13-.42-.39-1.13L4.64 9a2.41 2.41 0 1 0 1.69 4.51l1.13-.42zM8 7.69l-1.13.42.43 1.13 1.12-.42a1.2 1.2 0 1 1 .85 2.25l-1.13.43.43 1.13 1.12-.43A2.41 2.41 0 1 0 8 7.69z"
            />
          </svg>
        </button>
      </div>
    </footer>
  </article>
</template>

<script>
import { mapState } from 'vuex'
import 'highlight.js/styles/atom-one-dark-reasonable.css'

let ClipboardJS
let reframe
let resize
let hljs
let javascript
let python
let scss

if (process.client) {
  ClipboardJS = require('clipboard')
  reframe = require('reframe.js').default
  resize = require('vue-resize-directive')
  hljs = require('highlight.js/lib/highlight')
  javascript = require('highlight.js/lib/languages/javascript')
  python = require('highlight.js/lib/languages/python')
  scss = require('highlight.js/lib/languages/scss')

  hljs.registerLanguage('javascript', javascript)
  hljs.registerLanguage('python', python)
  hljs.registerLanguage('scss', scss)
}

const types = [
  {
    maxFontSize: 2,
    minFontSize: 1.5,
    customProperty: '--article-h1-size'
  },
  {
    maxFontSize: 1.375,
    minFontSize: 1.25,
    customProperty: '--content-h2-size'
  },
  {
    maxFontSize: 1.25,
    minFontSize: 1.125,
    customProperty: '--content-h3-size'
  }
]

export default {
  directives: {
    resize
  },

  computed: {
    ...mapState({
      next: state => state.posts.next,
      post: state => state.posts.current,
      prev: state => state.posts.prev
    }),

    structuredData() {
      return {
        '@context': 'http://schema.org',
        '@type': 'BlogPosting',
        headline: this.post.title,
        url: `https://www.welchcanavan.com${this.post.slug}`,
        datePublished: this.post.iso8601,
        author: {
          '@type': 'Person',
          name: 'Welch Canavan'
        }
      }
    }
  },

  async fetch({ store, params }) {
    await store.commit('posts/setCurrent', params.slug)
  },

  mounted() {
    if (process.client) {
      document
        .querySelectorAll('pre code')
        .forEach(block => hljs.highlightBlock(block))

      // may need to edit this selector list as different
      // iframes are embedded
      const relevantIframes = document.querySelectorAll(
        'article iframe[src*=youtube]'
      )

      if (relevantIframes.length) reframe(relevantIframes)

      // Clipboard is out of my control
      // eslint-disable-next-line no-new
      new ClipboardJS('.btn')
    }
  },

  methods: {
    onResize(e) {
      if (e && e.clientWidth) {
        const article = document.getElementById('article')
        const nodeWidth = e.clientWidth
        const maxWidth = 750
        const minWidth = 400
        const widthRange = maxWidth - minWidth
        const width = nodeWidth - minWidth

        types.forEach(type => {
          const { customProperty, maxFontSize, minFontSize } = type
          const fontSizeRange = maxFontSize - minFontSize
          let baseFontSize

          if (nodeWidth <= minWidth) baseFontSize = minFontSize
          else if (nodeWidth >= maxWidth) baseFontSize = maxFontSize
          else baseFontSize = (width / widthRange) * fontSizeRange + minFontSize

          article.style.setProperty(customProperty, `${baseFontSize}em`)
        })
      }
    }
  },

  head() {
    return {
      __dangerouslyDisableSanitizers: ['script'],
      title: this.post.title,
      script: [
        {
          src: 'https://platform.twitter.com/widgets.js',
          async: true,
          defer: true
        },
        {
          innerHTML: JSON.stringify(this.structuredData),
          type: 'application/ld+json'
        }
      ],
      meta: [
        ...this.$populateSEOMeta('article', this.post.title, this.post.hero)
      ]
    }
  }
}
</script>
