<template>
  <main class="articles">
    <article v-for="post in posts" :key="post.slug" class="articles__item">
      <h1 class="article__title">
        <nuxt-link :to="`/${post.slug}`">
          {{ post.title }}
        </nuxt-link>
      </h1>

      <p class="article__time">
        <time class="type-meta" :datetime="post.published_at">
          {{ post.relativeDate }}
        </time>
      </p>
    </article>
  </main>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState({
    posts: state => state.posts.list
  }),

  head() {
    return {
      title: 'Writing'
    }
  }
}
</script>
