<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="80" height="15" version="1">
    <defs>
      <clipPath id="a">
        <path stroke-width=".922" d="M171.998 239.12h20.614v12.484h-20.614z" />
      </clipPath>
    </defs>
    <path
      fill="#fff"
      stroke="#000"
      stroke-width="1.042"
      d="M170.5 237.862h80v15h-80z"
      transform="matrix(.9875 0 0 .93335 -167.875 -221.476)"
    />
    <path d="M1.975 1.933h76.038v11.2H1.975z" />
    <path
      d="M1.975 1.945v11.2h20.08c1.293-1.633 2.165-3.532 2.165-5.6 0-2.054-.857-3.973-2.134-5.6H1.975z"
      fill="#abb1aa"
    />
    <g
      clip-path="url(#a)"
      transform="matrix(.94924 0 0 .89719 -161.127 -212.603)"
    >
      <path
        d="M190.064 245.362a7.047 7.047 0 0 1-14.094.009v-.009a7.047 7.047 0 1 1 14.094-.008v.008z"
        fill="#fff"
      />
      <path
        d="M188.746 239.622c1.562 1.563 2.344 3.477 2.344 5.74 0 2.264-.768 4.157-2.304 5.68-1.63 1.603-3.556 2.405-5.779 2.405-2.196 0-4.089-.795-5.678-2.385-1.59-1.59-2.385-3.49-2.385-5.7s.795-4.123 2.385-5.74c1.549-1.563 3.442-2.344 5.678-2.344 2.264 0 4.176.781 5.739 2.344zm-10.365 1.052c-1.321 1.334-1.982 2.897-1.982 4.69 0 1.793.654 3.343 1.962 4.65 1.307 1.308 2.864 1.961 4.67 1.961s3.376-.66 4.71-1.98c1.268-1.228 1.901-2.77 1.901-4.63 0-1.847-.644-3.414-1.931-4.701-1.287-1.288-2.847-1.931-4.68-1.931-1.833 0-3.383.647-4.65 1.94zm3.477 3.902c-.202-.44-.504-.66-.907-.66-.713 0-1.07.479-1.07 1.438 0 .96.357 1.439 1.07 1.439.47 0 .806-.234 1.008-.702l.987.526c-.47.836-1.177 1.255-2.118 1.255-.727 0-1.308-.223-1.745-.668-.438-.445-.656-1.06-.656-1.842 0-.769.225-1.38.676-1.831.45-.453 1.012-.679 1.684-.679.996 0 1.709.393 2.14 1.176l-1.07.548zm4.646 0c-.202-.44-.498-.66-.889-.66-.727 0-1.09.479-1.09 1.438 0 .96.363 1.439 1.09 1.439.471 0 .801-.234.99-.702l1.01.526c-.47.836-1.176 1.255-2.116 1.255-.725 0-1.306-.223-1.742-.668-.436-.445-.654-1.06-.654-1.842 0-.769.221-1.38.664-1.831.443-.453 1.007-.679 1.692-.679.994 0 1.706.393 2.135 1.176l-1.09.548z"
      />
    </g>
    <path
      d="M29.052 6.901c.242 0 .426-.05.551-.15.126-.1.188-.247.188-.442 0-.193-.062-.34-.188-.44-.125-.102-.309-.153-.551-.153h-.851v1.185h.851m.052 2.45c.309 0 .54-.062.695-.184.157-.123.236-.308.236-.555 0-.243-.077-.424-.232-.544-.154-.123-.387-.184-.7-.184h-.902v1.467h.903m1.43-2.015c.33.09.586.257.768.5.18.242.271.54.271.892 0 .54-.194.943-.583 1.208-.389.265-.98.397-1.774.397h-2.553v-5.6h2.31c.828 0 1.427.118 1.797.353.373.235.56.611.56 1.129 0 .272-.068.505-.204.698-.136.19-.333.33-.592.423m.906-2.603h1.682L34.48 6.73l1.359-1.996h1.686l-2.274 3.241v2.36h-1.538v-2.36l-2.273-3.24m5.254 2.842h2.51v1.092h-2.51V7.576m3.712-2.843h1.718l2.17 3.841v-3.84h1.458v5.6h-1.718l-2.17-3.842v3.841h-1.458v-5.6m11.588 5.293a4.093 4.093 0 0 1-.883.311c-.307.07-.626.105-.96.105-.993 0-1.78-.26-2.36-.78-.582-.523-.872-1.23-.872-2.123 0-.895.29-1.603.871-2.123.58-.523 1.368-.784 2.362-.784.333 0 .652.035.959.105.306.07.6.174.883.311v1.16a3.445 3.445 0 0 0-.843-.402 2.967 2.967 0 0 0-.876-.127c-.548 0-.98.165-1.294.495-.314.33-.472.785-.472 1.365 0 .578.158 1.031.472 1.362.314.33.746.495 1.294.495.307 0 .599-.043.876-.128s.558-.219.843-.401v1.159m1.162-2.45h2.51v1.092h-2.51V7.576M61.02 4.91v1.185a5.724 5.724 0 0 0-.959-.311 4.036 4.036 0 0 0-.883-.105c-.368 0-.64.047-.815.142a.47.47 0 0 0-.264.443c0 .15.059.267.176.352.12.083.336.154.647.214l.656.124c.663.125 1.134.315 1.414.57.28.255.42.618.42 1.088 0 .617-.196 1.077-.588 1.38-.389.3-.984.45-1.786.45-.378 0-.758-.034-1.139-.101a7.41 7.41 0 0 1-1.142-.3V8.82c.38.19.748.335 1.102.432.357.095.701.143 1.031.143.336 0 .593-.053.772-.158a.496.496 0 0 0 .267-.45.483.483 0 0 0-.184-.405c-.12-.095-.36-.18-.723-.255l-.595-.124c-.597-.12-1.034-.311-1.31-.574-.275-.262-.412-.616-.412-1.061 0-.558.191-.987.575-1.287.384-.3.935-.45 1.654-.45.328 0 .665.024 1.011.071a9.48 9.48 0 0 1 1.075.207m5.366 4.403h-2.405l-.38 1.02h-1.546l2.21-5.6h1.834l2.21 5.6h-1.547l-.376-1.02m-2.021-1.039h1.634l-.815-2.228-.82 2.228"
      font-size="8.259"
      font-weight="700"
      fill="#fff"
      font-family="Bitstream Vera Sans"
    />
  </svg>
</template>
