<template>
  <footer>
    <!--
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
      <CreativeCommons />
    </a>

    <p class="type-meta color-shade-2">
      This
      <span
        xmlns:dct="http://purl.org/dc/terms/"
        href="http://purl.org/dc/dcmitype/Text"
        rel="dct:type"
      >
        work
      </span>

      by
      <span
        xmlns:cc="http://creativecommons.org/ns#"
        property="cc:attributionName"
      >
        I. Welch Canavan
      </span>

      is licensed under a <br>
      <a
        rel="license"
        href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
      >
        Creative Commons Attribution-NonCommercial-<br>ShareAlike 4.0 International License
      </a>.
    </p>
    -->

    <address>
      <span class="visually-hidden">
        I. Welch Canavan
      </span>

      PO Box 3350
      <br />
      Washington, DC
      <br />20010-035
    </address>
  </footer>
</template>
