<template>
  <picture>
    <source :srcset="webp" type="image/webp" />

    <source :srcset="jpg" type="image/jpeg" />

    <img :src="jpg" alt="Portrait of I. Welch Canavan" />
  </picture>
</template>

<script>
export default {
  props: {
    filePath: {
      required: true,
      type: String
    }
  },

  data() {
    const rootUrl = 'https://d28efhqsv6dyl0.cloudfront.net/media/'

    return ['jpg', 'webp'].reduce((data, extension) => {
      data[extension] = `${rootUrl}${this.filePath}.${extension}`

      return data
    }, {})
  }
}
</script>
