.article {
  --article-h1-size: 1.5 em;
  --content-h2-size: 1.25 em;
  --content-h3-size: 1.125 em;

  max-width: 30em;
  width: 100%;

  @media #{$mq-above-lg} {
    margin-bottom: var(--margin);
  }

  &__header {
    margin-bottom: 4em;
  }

  &__hero {
    @media #{$mq-above-lg} {
      margin-top: var(--negative-margin);
      max-width: none;
    }

    @include article-media(4em);
  }

  &__title {
    font-size: var(--article-h1-size);
    line-height: 1.1;
  }

  &__time {
    margin: 0;
  }
}
