.articles {
  @media #{$mq-above-md} {
    background-color: $color-shade-1;
    padding: 1em;
  }

  @media #{$mq-above-xl} {
    background-color: $color-shade-1;
    padding: 2em;
  }
}

.articles__item {
  & + & {
    margin-top: 2em;

    @media #{$mq-above-xl} {
      margin-top: 2.5em;
    }
  }
}

.article-item {
  &__title {
    @include type-title();
  }

  &__time {
    margin: 0;
  }
}
