.bio {
  @media #{$mq-above-md} {
    margin-bottom: 3em;
  }
}

.bio__image {
  @media #{$mq-above-md} {
    display: block;
    margin-bottom: 1.75em;
  }
}

.bio__text {
  @media #{$mq-above-md} {
    font-size: 1.75em;
  }
}

.bio__links {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.bio__link-item {
  & + & {
    margin-left: 1em;
    padding-left: 1em;
    position: relative;

    ::before {
      color: $color-type;
      content: '|';
      left: 0;
      position: absolute;
    }
  }
}
