.content {
  p + p {
    margin-top: 1.5em;
  }

  h2,
  h3 {
    margin-top: 1.5em;

    @include type-display();
  }

  h2 {
    font-size: var(--content-h2-size);
  }

  h3 {
    font-size: var(--content-h3-size);
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 600;
  }

  blockquote {
    border-left: 1px solid currentColor;
    margin: 1.5em 0;
    padding-left: 1.5em;
  }

  ol,
  ul {
    font-size: 0.9em;
  }

  ul {
    list-style-type: none;
    margin-left: 2em;
    padding: 0;
    position: relative;

    li {
      &::before {
        content: '—';
        left: -1.5em;
        opacity: 0.75;
        position: absolute;
      }
    }
  }

  code {
    background-color: lightgray;
    border-radius: 0.2em;
    display: inline-block;
    font-size: 80%;
    margin: 0 0.2em;
    padding: 0 0.2em;
  }

  pre {
    background-color: #282c34;
    border-radius: 0.5em;
    overflow-x: scroll;

    @include article-media(2em);

    code {
      background-color: transparent;
      font-size: 1rem;
      line-height: unset;
      padding: 1em;
    }
  }

  textarea {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  > iframe,
  > .js-reframe {
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .js-reframe iframe {
    margin: 0;
  }

  iframe[src*='bandcamp'] {
    // center bandcamp embed
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }

  // i have no control over what twitter calls their nonsense
  // stylelint-disable-next-line
  twitter-widget {
    margin-left: auto;
    margin-right: auto;
  }

  .heading {
    position: relative;

    &__anchor {
      opacity: 0.5;
      transition: opacity 0.1s ease-in;

      &:hover {
        opacity: 0.75;
      }

      &::before {
        content: '#';
        padding-right: 0.25em;

        // stylelint-disable-next-line order/order
        @media #{$mq-above-md} {
          left: -1em;
          padding-right: auto;
          position: absolute;
        }
      }
    }
  }
}
