.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
  margin-top: 2em;
  text-align: center;

  &__logo {
    fill: currentColor;
    opacity: 0.75;
  }
}
