.link-list {
  display: grid;
  grid-gap: 1em;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    background-color: $color-secondary-dark;
    border-radius: 0.25em;
  }

  &__link {
    $font-size: 1.5em;

    color: $color-shade-0;
    display: block;
    font-size: $font-size;
    padding: ($font-size / 2) $font-size;
    text-align: center;

    @include type-meta();
  }
}
