.main-header {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media #{$mq-above-xl} {
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__home-link {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    @media #{$mq-above-md} {
      position: sticky;
      top: var(--body-padding);
    }
  }

  &__logo {
    fill: currentColor;
    width: 4em;
  }

  &__title {
    font-family: freight-sans-pro, sans-serif;
    font-size: 0.65em;
    font-weight: 500;
    margin: 0;
    text-transform: lowercase;
  }
}
