.permalink {
  display: inline-grid;
  grid-row-gap: 0.5em;
  grid-template-columns: auto min-content;
  margin: 2em 0;

  &__label {
    grid-column: 1 / span 2;
  }

  &__input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    @media #{$mq-above-md} {
      min-width: 16em;
    }
  }

  &__button {
    border-bottom-left-radius: 0;
    border-left: none;
    border-top-left-radius: 0;
  }

  &__icon {
    height: 1em;
    margin: 0.25em;
    width: auto;
  }
}
