.layout-index {
  @media #{$mq-above-lg} {
    display: contents;
  }
}

.layout-index__bio {
  @media #{$mq-above-lg} {
    margin-top: var(--negative-margin);
  }
}

.layout-index__articles {
  @media #{$mq-above-lg} {
    margin-top: var(--negative-margin);
  }
}
