.layout-main {
  @media #{$mq-above-md} {
    display: grid;
    grid-gap: 2em;
    grid-template-areas:
      'header main'
      '.      aside'
      'footer footer';
    grid-template-columns:
      minmax(1em, auto)
      minmax(auto, 40em);
    margin-left: 0;
    margin-right: 0;
  }

  @media #{$mq-above-lg} {
    display: grid;
    grid-gap: 2em;
    grid-template-areas:
      'header main aside'
      'header footer footer';
    grid-template-columns:
      minmax(1em, auto)
      minmax(auto, 40em)
      minmax(1em, auto);
  }

  &__header {
    grid-area: header;
    margin-bottom: 2em;
  }

  &__main {
    grid-area: main;
  }

  &__footer {
    grid-area: footer;
    margin-top: 4em;

    @media #{$mq-above-md} {
      justify-self: end;
      text-align: right;
    }
  }
}
