@mixin page-transition($duration: 500ms, $mq: $mq-above-md) {
  @media #{$mq-above-md} {
    transform: translate3d(0);
    transition-duration: $duration;
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
    will-change: opacity, transform;
  }
}

@mixin slide-left() {
  @media #{$mq-above-md} {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@mixin slide-top() {
  @media #{$mq-above-md} {
    opacity: 0;
    transform: translate3d(100vh, 0, 0);
  }
}

// there's got to be a more elegant way to express all of this
// but that's for another day
.index-enter-active,
.index-leave-active,
.page-enter-active,
.page-leave-active {
  @include page-transition();
}

.index-enter,
.page-leave-active {
  @include slide-left();
}

.page-enter,
.index-leave-active {
  @include slide-top();
}

// because `display: contents`
.layout-index__articles,
.layout-index__bio {
  .index-enter-active &,
  .index-leave-active &,
  .page-enter-active &,
  .page-leave-active & {
    @include page-transition(750ms, $mq-above-lg);
  }

  .index-enter &,
  .page-leave-active & {
    @include slide-left();
  }

  .page-enter &,
  .index-leave-active & {
    @include slide-top();
  }
}
