$border-radius: 0.25em;

$color-type: hsl(109, 0%, 16%);

$color-primary-dark: hsl(215, 85%, 20%);
$color-primary: hsl(215, 80%, 40%);
$color-primary-light: hsl(215, 80%, 60%);
$color-primary-xlight: hsl(215, 75%, 90%);

$color-secondary-dark: hsl(146, 85%, 20%);
$color-secondary: hsl(146, 80%, 30%);
$color-secondary-light: hsl(146, 80%, 40%);
$color-secondary-xlight: hsl(146, 75%, 90%);

$color-shade-0: hsl(0, 0%, 100%);
$color-shade-1: hsl(0, 0%, 95%);
$color-shade-2: hsl(0, 0%, 70%);
$color-shade-3: hsl(0, 0%, 50%);
$color-shade-4: hsl(0, 0%, 30%);

$colors: (
  'type': $color-type,
  'primary-dark': $color-primary-dark,
  'primary': $color-primary,
  'primary-light': $color-primary-light,
  'primary-xlight': $color-primary-xlight,
  'secondary-dark': $color-secondary-dark,
  'secondary': $color-secondary,
  'secondary-light': $color-secondary-light,
  'secondary-xlight': $color-secondary-xlight,
  'shade-1': $color-shade-1,
  'shade-2': $color-shade-2,
  'shade-3': $color-shade-3,
  'shade-4': $color-shade-4
);

@each $name, $value in $colors {
  .bg-#{$name} {
    background-color: $value;
  }

  .color-#{$name} {
    color: $value;
    fill: $value;
  }
}
