html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  --base-font-size: 1.2em;
  --body-padding: 1em;
  --negative-margin: calc(var(--body-padding) * -1);

  color: $color-type;
  font-family: freight-text-pro, serif;
  font-size: var(--base-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: var(--body-padding);

  @media #{$mq-above-md} {
    --body-padding: 2em;
  }
}

a {
  color: $color-primary;
  text-decoration: none;
}

article {
  margin: 0 auto;
  max-width: 40em;
}

code,
pre {
  font-family: input-mono, monospace;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
}

button {
  background-color: rgb(243, 243, 243);
  border: 1px solid $color-shade-2;
  border-radius: $border-radius;
  font-family: freight-sans-pro, sans-serif;
  font-size: inherit;
}

input,
textarea {
  border: 1px solid $color-shade-2;
  border-radius: $border-radius;
  box-shadow:
    10px 10px 10px rgba(150, 195, 242, 0),
    -10px 10px 10px rgba(150, 195, 242, 0),
    10px -10px 10px rgba(150, 195, 242, 0),
    -10px -10px 10px rgba(150, 195, 242, 0);
  font-family: input-mono, monospace;
  font-size: inherit;
  max-width: 100%;
  min-width: 15em;
  padding: 0.5em 1em;
  transition: box-shadow 0.2s;
  z-index: 1;

  &:focus {
    border: 1px solid rgb(126, 171, 218);
    box-shadow:
      3px 3px 0 rgba(150, 195, 242, 1),
      -3px 3px 0 rgba(150, 195, 242, 1),
      3px -3px 0 rgba(150, 195, 242, 1),
      -3px -3px 0 rgba(150, 195, 242, 1);
    outline: 0;
  }
}

img,
picture {
  max-width: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
