<template>
  <div v-resize="onResize" class="layout-main">
    <MainHeader class="layout-main__header" />
    <nuxt class="layout-main__main" />
    <!-- <MainFooter class="layout-main__footer" /> -->
  </div>
</template>

<script>
// import MainFooter from '~/components/MainFooter'
import MainHeader from '~/components/MainHeader'

let resize

if (process.client) {
  resize = require('vue-resize-directive')
}

export default {
  directives: {
    resize
  },

  components: {
    // MainFooter,
    MainHeader
  },

  data() {
    return {
      structuredData: {
        '@context': 'http://schema.org/',
        '@type': 'Person',
        name: 'Welch Canavan',
        jobTitle: 'Web Developer',
        address: {
          '@type': 'PostalAddress',
          addressLocality: 'Washington',
          addressRegion: 'DC'
        },
        url: 'https://www.welchcanavan.com'
      }
    }
  },

  methods: {
    onResize(e) {
      const clientWidth = document.documentElement.clientWidth
      const maxWidth = 2500
      const minWidth = 500
      const widthRange = maxWidth - minWidth
      const maxFontSize = 1.8
      const minFontSize = 1.2
      const fontSizeRange = maxFontSize - minFontSize
      const width = clientWidth - minWidth
      let baseFontSize

      if (clientWidth <= minWidth) baseFontSize = minFontSize
      else if (clientWidth >= maxWidth) baseFontSize = maxFontSize
      else baseFontSize = (width / widthRange) * fontSizeRange + minFontSize

      document.body.style.setProperty('--base-font-size', `${baseFontSize}em`)
    }
  },

  head() {
    return {
      __dangerouslyDisableSanitizers: ['script'],
      script: [
        {
          innerHTML: JSON.stringify(this.structuredData),
          type: 'application/ld+json'
        }
      ]
    }
  }
}
</script>
