<template>
  <main class="layout-index">
    <section class="layout-index__bio bio">
      <Picture file-path="uploads/dc414ea9bd/me-2019" class="bio__image" />

      <p class="bio__text type-display">
        Hi, I'm welch, I'm a web developer and artist in Washington, DC. I have
        been making websites, music, and photographs since I was in high school.
      </p>

      <ul class="bio__links type-meta">
        <li
          v-for="socialAccount in socialAccounts"
          :key="socialAccount.url"
          class="bio__link-item"
        >
          <a :href="socialAccount.url" class="bio__link">
            {{ socialAccount.name }}
          </a>
        </li>
      </ul>
    </section>

    <section class="layout-index__articles articles">
      <article
        v-for="post in posts"
        :key="post.slug"
        class="articles__item article-item"
      >
        <h1 class="article-item__title">
          <nuxt-link :to="`/${post.slug}`" class="color-type">
            {{ post.title }}
          </nuxt-link>
        </h1>

        <p class="article-item__time">
          <time
            class="type-meta color-secondary-light"
            :datetime="post.published_at"
          >
            {{ post.relativeDate }}
          </time>
        </p>
      </article>
    </section>
  </main>
</template>

<script>
import { mapState } from 'vuex'
import Picture from '~/components/Picture'

const socialAccounts = [
  {
    name: 'Gitlab',
    url: 'https://gitlab.com/welch.canavan'
  },
  {
    name: 'Glitch',
    url: 'https://glitch.com/@xiwcx'
  },
  {
    name: 'Codepen',
    url: 'https://codepen.io/xiwcx'
  }
]

export default {
  components: {
    Picture
  },

  data: () => ({ socialAccounts }),

  computed: mapState({
    posts: state => state.posts.list
  }),

  head() {
    return {
      meta: [...this.$populateSEOMeta('website')]
    }
  },

  transition: 'index'
}
</script>
