<template>
  <main>
    <ul class="link-list">
      <li v-for="link in links" :key="link.title" class="link-list__item">
        <a :href="link.url" class="link-list__link">
          {{ link.title }}
        </a>
      </li>
    </ul>
  </main>
</template>

<script>
export default {
  data() {
    return {
      links: [
        {
          title: 'Website',
          url: 'https://welchcanavan.com'
        },
        {
          title: 'Será',
          url: 'https://serabanddc.bandcamp.com'
        }
      ]
    }
  }
}
</script>
